<h2 class="text-center">Sign up</h2>
<div class="text-center err" *ngIf="loggedIn==true">
    <br>You are already logged in!<br><br>
    <input type='button' value='Log out' (click)='logout()' class="button btn" style="margin-right: 10px;">
    <input type='button' value='See profile' (click)='profile()' class="button btn">
</div>
<form *ngIf="loggedIn==false">
    <table>
        <tr>
            <td>Username:</td>
            <td>
                <input type='text' name='username' [(ngModel)]='username' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input type='password' name='password' [(ngModel)]='password' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Security question:</td>
            <td>
                <input type='text' name='question' [(ngModel)]='question' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Answer:</td>
            <td>
                <input type='text' name='answer' [(ngModel)]='answer' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Type of user:</td>
            <td>
                <select name='type' [(ngModel)]='type' class="form-control">
                    <option value="student">Student</option>
                    <option value="tutor">Tutor</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>First name:</td>
            <td>
                <input type='text' name='firstname' [(ngModel)]='firstname' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>
                <input type='text' name='lastname' [(ngModel)]='lastname' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>
                <select name='gender' [(ngModel)]='gender' class="form-control">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>
                <input type='text' name='address' [(ngModel)]='address' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Contact:</td>
            <td>
                <input type='text' name='contact' [(ngModel)]='contact' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>
                <input type='email' name='email' [(ngModel)]='email' class="form-control">
            </td>
        </tr>
        <tr>
            <td>Profile picture:</td>
            <td>
                <input type="file" name="image" class="form-control" (change)="onChange($event)" accept=".png, .jpg">
            </td>
        </tr>
        <tr *ngIf="type==='student'">
            <td>Type of school:</td>
            <td>
                <select name='typeOfSchool' [(ngModel)]='typeOfSchool' class="form-control">
                    <option value="Primary school">Primary school</option>
                    <option value="High school">High school</option>
                    <option value="Vocational high school">Vocational high school</option>
                    <option value="Art high school">Art high school</option>
                </select>
            </td>
        </tr>
        <tr *ngIf="type==='student'">
            <td>Current grade:</td>
            <td>
                <select name='currentGrade' [(ngModel)]='currentGrade' class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" *ngIf="typeOfSchool==='Primary school'">5</option>
                    <option value="6" *ngIf="typeOfSchool==='Primary school'">6</option>
                    <option value="7" *ngIf="typeOfSchool==='Primary school'">7</option>
                    <option value="8" *ngIf="typeOfSchool==='Primary school'">8</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="err text-center" style="text-wrap: wrap; max-width: 520px;">
                {{message}}
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type='button' value='Next' (click)='register()' class="button btn">
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <hr>
                Already have an account? <a [routerLink]="['/login']">Log in</a>
            </td>
        </tr>
    </table>
</form>