h1, h2, h3, h4 {
    color: #43697d;
}

.button {
    background-color: #43697d;
    color: white;
    margin-top: 1%;
    margin-right: 1%;
}

.button:hover {
    background-color: #93BFCF;
}

.custom-container {
    width: 99vw;
    padding-right: auto;
    padding-left: auto;
    margin: 0
}

.notSeen {
    background-color: #aecfdb;
}

.notifications {
    max-width: 70vw;
}

.box-title {
    background-color: #43697d;
    border-radius: 5px;
    color: white;
}