.err{
    color: #bc2e2e;
    font-weight: bold;
    font-size: large;
    }

 a{
    text-decoration: underline;
    color: #43697d;
 }
  
  h2 {
    color: #43697d;
    margin-bottom: 5%;
  }
  
  form {
    margin: auto;
  }
  
  td {
    padding: 5px;
  }
  
  .button {
    background-color: #6096B4;
    color: white;
    margin-top: 3%;
  }
  
  .button:hover {
    background-color: #93BFCF;
  }