<div class="text-center err" *ngIf="loggedIn==false">
    <br>You are not logged in!<br><br>
    <input type='button' value='Log in' [routerLink]="['/login']" class="button btn" style="margin-right: 10px;">
    <input type='button' value='Sign up' [routerLink]="['/signup']" class="button btn">
</div>
<div *ngIf="loggedIn==true" class="custom-container text-center">
    <div>
        <h2>Students</h2>
        <h4 *ngIf="students.length==0" class="mt-3">There are no students in the system.</h4>
        <table *ngIf="students.length>0" class="table">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Adress</th>
                <th>Contact</th>
                <th>Type of school</th>
                <th>Current grade</th>
            </tr>
            <tr *ngFor="let s of students">
                <td>{{s.username}}</td>
                <td>{{s.firstname}} {{s.lastname}}</td>
                <td>{{s.email}}</td>
                <td>{{s.gender}}</td>
                <td>{{s.address}}</td>
                <td>{{s.contact}}</td>
                <td>{{s.typeOfSchool}}</td>
                <td>{{s.currentGrade}}</td>
            </tr>
        </table>
    </div>
    <div class="mt-5" style="background-color: #aecfdb; margin: 0; padding-bottom: 3rem; padding-top: 2rem; border-top: solid #43697d 3px; border-bottom: solid #43697d 3px;">
        <h2>Tutors</h2>
        <h4 *ngIf="approvedTutors.length==0" class="mt-3">There are no tutors in the system.</h4>
        <table *ngIf="approvedTutors.length>0" class="table">
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Adress</th>
                <th>Contact</th>
                <th>Subjects</th>
                <th>Age</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let t of approvedTutors">
                <td>{{t.username}}</td>
                <td>{{t.firstname}} {{t.lastname}}</td>
                <td>{{t.email}}</td>
                <td>{{t.gender}}</td>
                <td>{{t.address}}</td>
                <td>{{t.contact}}</td>
                <td><div *ngFor="let s of t.subjects" style="padding: 1px;">{{s.name}}</div></td>
                <td>{{t.request.age}}</td>
                <td><button class="button btn" (click)="update(t)">Update</button></td>
                <td><button class="button btn" (click)="remove(t)">Remove</button></td>
            </tr>
        </table>
    </div>
    <div class="mt-5">
        <h2>Registration requests</h2>
        <h4 *ngIf="nonApprovedTutors.length==0" class="mt-3">There are no registration requests.</h4>
        <table *ngIf="nonApprovedTutors.length>0" class="table">
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>CV</th>
                <th>Subjects</th>
                <th>Age which they are teaching</th>
                <th>Where did you hear about us?</th>
                <th></th>
                <th></th>
            </tr>
            <tr *ngFor="let r of nonApprovedTutors">
                <td>{{r.username}}</td>
                <td>{{r.email}}</td>
                <td>
                    <button (click)="displayPdf(r)" class="btn button">Open CV</button>
                </td>
                <td>{{r.request.subjects}}</td>
                <td>{{r.request.age}}</td>
                <td>{{r.request.whereDidYouHearAboutUs}}</td>
                <td><button (click)="approve(r)" class="btn button">Approve</button></td>
                <td><button (click)="deny(r)" class="btn button">Deny</button></td>
            </tr>
        </table>
    </div>
    <div class="mt-5"  style="background-color: #aecfdb; margin: 0; padding-bottom: 3rem; padding-top: 2rem; border-top: solid #43697d 3px; border-bottom: solid #43697d 3px;">
        <h2>Add new subject</h2>
        <table class="newSubject">
            <tr>
                <td>Subject name:</td>
                <td><input type="text" [(ngModel)]="subjectName" class="form-control" ></td>
            </tr>
            <tr>
                <td colspan="2"><button (click)="add()" class="button btn">Add</button></td>
            </tr>
        </table>
    </div>
</div>