<div>
    <h3 class="mb-4">Tutors by subject and age they teach</h3>
    <div style="display: inline-block; margin-right: 40px;">
        <h5 class="text-center">Subjects</h5>
        <canvas id="subjects" width="400" height="300"></canvas>
    </div>
    <div style="float:right;">
        <h5 class="text-center">Age</h5>
        <canvas id="age" width="400" height="300"></canvas>
    </div>
</div>
<div class="mt-5">
    <h3 class="mb-4">Users by gender</h3>
    <div style="display: inline-block;" class="ml-5">
        <h5 class="text-center">Students</h5>
        <canvas id="genderStudents" width="300" height="300"></canvas>
    </div>
    <div style="float: right;" class="mr-5">
        <h5 class="text-center">Tutors</h5>
        <canvas id="genderTutors" width="300" height="300"></canvas>
    </div>
</div>
<div class="mt-5">
    <h3>Classes by weekdays</h3>
    <div>
        <canvas id="weekdays" width="400" height="300" style="margin: auto;"></canvas>
    </div>
</div>
<div class="mt-5">
    <h3 class="mb-2">Classes by month for tutors</h3>
    <div>
        <canvas id="months" width="600" height="400" style="margin: auto;"></canvas>
    </div>
</div>
<div class="mt-5">
    <h3 class="mb-2">Doubletime classes</h3>
    <div>
        <canvas id="doubletime" width="300" height="300" style="margin: auto;"></canvas>
    </div>
</div>
<div class="mt-5 mb-5">
    <h3 class="mb-2">Reviews</h3>
    <div>
        <canvas id="reviews" width="500" height="500" style="margin: auto;"></canvas>
    </div>
</div>