h1, h2, h3, h4 {
    color: #43697d;
    margin-bottom: 3%;
}

.button {
    background-color: #43697d;
    color: white;
    margin-top: 3%;
    font-size: large;
}

.button:hover {
    background-color: #93BFCF;
}

table {
    margin-top: 1rem;
}

.classes {
    margin: auto;
    border-collapse:separate;
    border:solid #43697d 3px;
    border-radius:6px;
    margin-bottom: 3rem;
}

.classes td {
    border-left:solid #43697d 2px;
    border-top:solid #43697d 2px;
    padding: 10px 15px;
    background-color: #fff;
    max-width: 140px;
    word-wrap:break-word
}

.classes th {
    border-left:solid #43697d 2px;
    border-top:solid #43697d 2px;
    border-top: none;
    background-color: #43697d;
    padding: 10px 15px;
    color: #fff;
}

.classes td:first-child {
    border-left: none;
}

.classes th:first-child {
    border-left: none;
}

.custom-container {
    width: 99vw;
    padding-right: auto;
    padding-left: auto;
    margin: 0
}

.row {
    width: 100%;
}

.fa {
    color: #43697d
}

a {
    color: #43697d; 
    text-decoration: underline;
}